body {
  margin: 0;
  padding: 0;
}

h1 {
  position: absolute;
  font-size: 50px;
  margin-left: 40px;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: 280px;
  height: 280px;
  border: 3px solid black;
  border-radius: 5px;
  margin: 10px 10px 0 10px;
  z-index: 1;
  background-color: white;
  /* position: absolute; */
  /* z-index: 1; */
}

.btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px
}

.btns>* {
  border-radius: 5px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* justify-content: center; */
  align-items: center;
}

input {
  width: 100px;
  height: 30px;
}

.refreshBtn {
  width: 150px;
  height: 50px;
  background: black;
  color: white;
  outline: none;
  padding: 10px
}

.convertBtn {
  width: 150px;
  height: 50px;
  background: black;
  color: white;
  outline: none;
  margin: 10px 10px;
}

.output {
  width: 300px;
  height: 300px;
  padding: 10px;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  border-radius: 5px;
  margin-right: 20px;
  min-width: 200px;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .input {
    width: 400px;
    height: 400px;
  }

  .output {
    margin-bottom: 10px;
  }
}